<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Spice Machine</title>
</head>

<body>
    <header>
        <div class="headerMain">

            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="menu-items">
                        <li>
                            <a href="/index.html" class="headerMenuItem">Início</a>
                        </li>
                        <li>
                            <a href="receitas.html" class="headerMenuItem">Receitas</a>
                        </li>
                       
                    </div>
                </div>
            </div>

            <img class="headerLogo" src="../img/logo.jpg" alt="Logo">
            <nav class="headerMenu">
                <a href="/index.html" class="headerMenuItem">Início</a>
                <a href="receitas.html" class="headerMenuItem">Receitas</a>
               
            </nav>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img class="logo" src="../img/logo.jpg" alt="logo footer">
            </div>
            <div class="content">
                <p>@ Copyright 2022-2023 Discípulos do G.A.S.®</p>
            </div>
    </footer>
</body>

</html>