<div class="colaboradorContainer">
    <h1>Criadores:</h1>

    <div class="colaborador-card">
    <img src="img/iconAndy.jpg" alt="Colaborador1">
    <h2>Andy</h2>
    <p>Front-end & Back-end</p>
    <a target="_blank" href="https://github.com/anderson-santos-dev">GitHub</a>
</div>

<div class="colaborador-card">
    <img src="img/WhatsApp Image 2023-11-13 at 11.59.04.jpeg" alt="Colaborador2">
    <h2>Thiago</h2>
    <p>Front-end</p>
    <a target="_blank" href="https://github.com/thiago-nicoletti">GitHub</a>
</div>
<div class="colaborador-card">
    <img src="https://avatars.githubusercontent.com/u/84260409?v=4" alt="Colaborador3">
    <h2>Junior</h2>
    <p>Front-end</p>
    <a target="_blank" href="https://github.com/jvniorgc">GitHub</a>
</div>
</div>